@model AchievementViewModel

@{
    ViewData["Title"] = "Achievements";
}

<h2>Achievements</h2>

<table class="table table-list-style-bunky">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.DateAchieved)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Achievements) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchieved)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }
    </tbody>
</table>
