@model HackViewModel

@{
    ViewData["Title"] = "Hacks";
}

<h2>Hacks</h2>
@if ((string)TempData["HackCompleteNotice"] == "succes")
{
    <p class="notice-succes-status">Hack was a success! <i class="fas fa-check-circle"></i></p>
        
}
else if ((string)TempData["HackCompleteNotice"] == "failure")
{
    <p class="notice-failure-status">Hack was a failure! <i class="fas fa-times-circle"></i></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hack.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hack.Description)
            </th>
            <th>
                Difficulty
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hack.EnergyCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hack.Reward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hack.RewardName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hacks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{
                        var totalDifficulty = item.BaseDifficulty + item.SkillDifficulty;
                    }
                    <label title="Base: @item.BaseDifficulty / Skill: @item.SkillDifficulty">@totalDifficulty</label>
                </td>
                <td>
                    <label title="@Html.DisplayFor(modelItem => item.SkillCategoryId)">@Html.DisplayFor(modelItem => item.SkillCategoryName)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnergyCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reward)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RewardName)
                </td>
                <td>
                    @Html.ActionLink("Do", "DoHack", new { id = item.HackId }) |
                    @Html.ActionLink("Stats", "StatsHack", new { id = item.HackId })
                </td>
            </tr>
        }
    </tbody>
</table>
