@model System.Collections.Generic.IEnumerable<Model.Player>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
    <a asp-action="PlayersWithoutGang">Players Without Gang</a>
</p>*@
<table class="table table-list-style-bunky">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => player.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => player.PlayerLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => player.Experience)
                </td>
                <td>
                    @Html.ActionLink("Details", "DetailsPlayer", new {  id=player.PlayerId }) 
                </td>
            </tr>
        }
    </tbody>
</table>
