@*@model IEnumerable<Model.Player>*@
@model System.Collections.Generic.IEnumerable<Model.Player>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="CreatePlayer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => player.PlayerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => player.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => player.PlayerLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => player.Experience)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPlayer", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "DetailsPlayer", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "DeletePlayer", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
