@model AchievementViewModel

@{
    ViewData["Title"] = "PlayerAchievements";
}

<h2>PlayerAchievements</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Achievement.AchievementId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.Description)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Achievement.AchievementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.DateAchieved)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Achievements) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.AchievementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.AchievementName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchieved)
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>
}
    </tbody>
</table>
