@model AchievementViewModel

@{
    ViewData["Title"] = "PlayerAchievements";
}

<h2>PlayerAchievements</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table table-list-style-bunky">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Achievement.AchievementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement.DateAchieved)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Achievements) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AchievementName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchieved)
            </td>
        </tr>
}
    </tbody>
</table>
