@model SkillViewModel

@{
    ViewData["Title"] = "Skills";
}

<h2>Skills</h2>
@if ((string)TempData["SkillUpgradeNotice"] == "succes")
{
    <p class="notice-succes-status">Skill is upgraded! <i class="fas fa-check-circle"></i></p>
}
else if ((string)TempData["SkillUpgradeNotice"] == "failure")
{
    <script>
        function checkVariable(){
            if (window.jQuery){
                $(document).ready(function () {
                    $("#skill-points-display").animate({
                        marginLeft: "+=30px",
                        fontSize: "16px"
                    }, "slow");
                    $("#skill-points-display").fadeOut(600).fadeIn(600).fadeOut(600).fadeIn(600);
                    $("#skill-points-display").animate({
                        marginLeft: "-=30px",
                        fontSize: "12px"
                    }, "slow");
                });
            }
            else{
                window.setTimeout("checkVariable();",100);
            }
        }
        checkVariable();
    </script>
    <p class="notice-failure-status">Skill could not be upgraded! <i class="fas fa-times-circle"></i></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Skill.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill.SkillPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill.SkillCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Skills)
        {
            <tr>
                <td>
                    <label title="@Html.DisplayFor(modelItem => item.Description)">@Html.DisplayFor(modelItem => item.Name)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillPoints) / @Html.DisplayFor(modelItem => item.MaxSkillPoints)
                </td>
                <td>
                    <label title="Category mastered: @*Html.DisplayFor(modelItem => item.MaxSkillPoints)*@">@Html.DisplayFor(modelItem => item.SkillCategoryName)</label>
                </td>
                <td>
                    @Html.ActionLink("Upgrade", "UpgradeSkill", new { id = item.SkillId })
                </td>
            </tr>
        }
    </tbody>
</table>
