@model System.Collections.Generic.IEnumerable<Model.Gang>

@{
    ViewBag.Title = "Gang Index";
    Layout = "_Layout";
}

<h2>Gang Index</h2>

<p>
    <a asp-action="CreateGang">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Amount players
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gang in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => gang.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gang.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gang.Description)
            </td>
            <td>
                @*TODO: FIX*@
                @*@gang.Players.Count()*@
            </td>
            <td>
                @Html.ActionLink("Edit", "EditGang", new { id = gang.GangId }) |
                @Html.ActionLink("Details", "DetailsGang", new { id = gang.GangId }) |
                @Html.ActionLink("Delete", "DeleteGang", new { id = gang.GangId })
            </td>
        </tr>
        }
    </tbody>
</table>
