@using Microsoft.AspNetCore.Http
@using Model
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bunky Paradise</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script>
        function checkVariable2(){
            if (window.jQuery){
                $(document).ready(function () {
                    var experience = @Context.Session.GetString("Experience");
                    var experienceNeededForNextLevel = @Context.Session.GetString("ExperienceNeededForNextLevel");
                    var levelProgressValue = Math.floor(experience / experienceNeededForNextLevel * 100) + '%';
                    $(".level-progress-width").width(levelProgressValue);
                    $('.level-progress-width').html(levelProgressValue);

                    var refillableEnergy = @Context.Session.GetString("RefillableEnergy");
                    var energyRegen = @Context.Session.GetString("EnergyRegen");
                    $(".fillable-energy-width").width(refillableEnergy + '%');
                    $('.fillable-energy-width').html(refillableEnergy);
                    document.getElementById('energy-regen-bar').title = energyRegen + " energy per 5-Min";
                });
            }
            else {
                window.setTimeout("checkVariable2();", 100);
                window.setTimeout("checkSkillSucces();", 100);
                window.setTimeout("checkHackSucces();", 100);
            }
        }

        checkVariable2();
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">KillerAppS2</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    @if (Context.Session.GetString("Role") == "Admin")
                    {
                        <li><a asp-area="" asp-controller="Player" asp-action="Index">Player</a></li>
                        <li><a asp-area="" asp-controller="Gang" asp-action="Index">Gang</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav login-links">
                    @if (Context.Session.GetString("Username") != null)
                    {
                        <li><a asp-area="" asp-controller="Player" asp-action="PlayerDashBoard"><i class="fas fa-user"></i> @Context.Session.GetString("Username")</a></li>
                        <li><a asp-area="" asp-controller="Player" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Player" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                        // TODO: Add Register page
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @if (Context.Session.GetString("Username") != null)
        {
            <div class="sidenav">

                <div class="sidenav-block">
                    <div class="sidenav-block-header">
                        <h2><i class="fas fa-info-circle"></i> Information</h2>
                    </div>
                    <div class="sidenav-block-content">
                        <p><i class="fas fa-user-tag"></i> Name: @Context.Session.GetString("Username")</p>
                        <hr class="bunky-hr">
                        <p><i class="fas fa-signal"></i> Level: @Context.Session.GetInt32("PlayerLevel")</p>
                        <hr class="bunky-hr">
                        <p><i class="fas fa-street-view"></i> Experience: @Context.Session.GetString("Experience") / @Context.Session.GetString("ExperienceNeededForNextLevel")</p>
                        <div class="progress progress-bar-bunky">
                            <div class="progress-bar progress-bar-success level-progress-width" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                x
                            </div>
                        </div>
                        <hr class="bunky-hr">
                        <p><i class="fas fa-money-bill"></i> Money: @Context.Session.GetString("Money")</p>
                        <hr class="bunky-hr">
                        <p><i class="far fa-money-bill-alt"></i> Income: @Context.Session.GetString("Income")</p>
                        <hr class="bunky-hr">
                        <p id="skill-points-display"><i class="fas fa-hat-wizard"></i> Skill Points: @Context.Session.GetString("SkillPoints")</p>
                        <hr class="bunky-hr">
                        <p id="hack-points-display"><i class="fas fa-battery-three-quarters"></i> Energy: @Context.Session.GetString("Energy") / @Context.Session.GetString("MaxEnergy")</p>
                        <p class="button-energy-region" align="center"><a class="button-energy" asp-area="" asp-controller="Player" asp-action="RefillEnergy"><i class="fas fa-bolt"></i> Refill Energy</a></p>
                        <div class="progress progress-bar-bunky" id="energy-regen-bar">
                            <div class="progress-bar progress-bar-striped active fillable-energy-width" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                x
                            </div>
                        </div>
                        <hr class="bunky-hr">
                    </div>
                </div>

                <div class="sidenav-block">
                    <div class="sidenav-block-header">
                        <h2><i class="fas fa-fist-raised"></i> Actions</h2>
                    </div>
                    <div class="sidenav-block-content">
                        <ul>
                            <li><a asp-area="" asp-controller="Player" asp-action="Hacks"><i class="fas fa-bug"></i> Hacks</a></li>
                            <li><a asp-area="" asp-controller="Player" asp-action="Skills"><i class="fas fa-brain"></i> Skills</a></li>
                            <li><a asp-area="" asp-controller="Player" asp-action="Achievements"><i class="fas fa-trophy"></i> Achievements</a></li>
                            @*<li><a asp-area="" asp-controller="Player" asp-action="MyGang"><i class="fas fa-users"></i> MyGang</a></li>
                            <li><a asp-area="" asp-controller="Player" asp-action="Missions"><i class="fas fa-tasks"></i> Missions</a></li>*@
                        </ul>
                    </div>
                </div>

                @*<div class="sidenav-block">
                    <div class="sidenav-block-header">
                        <h2><i class="fas fa-users"></i> Relations</h2>
                    </div>
                    <div class="sidenav-block-content">
                        <ul>
                            <li><a asp-area="" asp-controller="Player" asp-action="Messages"><i class="fas fa-trophy"></i> Messages</a></li>
                            <li><a asp-area="" asp-controller="Player" asp-action="Friends"><i class="fas fa-address-book"></i> Friends</a></li>
                            <li><a asp-area="" asp-controller="Player" asp-action="Enemys"><i class="fas fa-book-dead"></i> Enemys</a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="main-body">
                @RenderBody()
            </div>
        }
        else
        {
            @RenderBody()
        }
        <footer>
            <p>&copy; 2019 - Bunky Paradise™</p>
        </footer>
    </div>
    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    
</body>
</html>
